<header class="bg-black text-white">
    <ul class="flex gap-3 justify-center items-center flex-wrap">
        <button routerLink="/paises" class="bg-orange-600 rounded-full p-2 h-fit hover:bg-orange-500 transition-all">← Países</button>
        <li routerLink="/paises/londres/home" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Home</li>
        <li routerLink="/paises/londres/mapa" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Mapa</li>
        <li routerLink="/paises/londres/lugares" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Lugares</li>
        <li routerLink="/paises/londres/la-experiencia" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">La Experiencia</li>
        <li routerLink="/paises/londres/dedicatorias" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Dedicatorias</li>
    </ul>
</header>