<app-header class="sticky w-full"></app-header>

<div class="grid grid-cols-2 sm:grid-cols-3 gap-2 justify-center" id="paises">
  <app-site
    titulo="Inglaterra"
    bandera="assets/paises/banderas/bandera-uk.png"
    imagen="assets/paises/inglaterra.jpg"
    class="flex flex-col"
  ></app-site>
  
  <app-site
    titulo="Grecia"
    bandera="assets/paises/banderas/bandera-grecia.png"
    imagen="assets/paises/grecia.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Suiza"
    bandera="assets/paises/banderas/bandera-suiza.png"
    imagen="assets/paises/suiza.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Austria"
    bandera="assets/paises/banderas/bandera-austria.png"
    imagen="assets/paises/austria.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Francia"
    bandera="assets/paises/banderas/bandera-francia.png"
    imagen="assets/paises/francia.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Finlandia"
    bandera="assets/paises/banderas/bandera-finlandia.png"
    imagen="assets/paises/finlandia.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Eslovenia"
    bandera="assets/paises/banderas/bandera-eslovenia.png"
    imagen="assets/paises/eslovenia.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Bulgaria"
    bandera="assets/paises/banderas/bandera-bulgaria.png"
    imagen="assets/paises/bulgaria.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Praga"
    bandera="assets/paises/banderas/bandera-praga.png"
    imagen="assets/paises/praga.png"
    class="flex flex-col"
  ></app-site>
</div>

<app-footer class="fixed bottom-0 w-full"></app-footer>
