<app-londres-header class="sticky w-full"></app-londres-header>

<main>
  <div class="md:grid md:grid-cols-2">
    <app-dedicatoria
      color="bg-teal-200"
      nombre="Rubén"
      texto="Este viaje a Londres y a los estudios de Harry Potter es un pequeño gesto para agradecerte por la magia que has traído a mi vida. Cada momento contigo es como un hechizo de amor y felicidad. Que este viaje llene tu corazón de aventuras y recuerdos tan maravillosos como los que me has regalado. Que tengas un feliz cumpleaños y Navidad. En cada rincón de ese mundo mágico, verás reflejado el brillo de tu propia magia, esa que has esparcido en cada paso de mi vida. Este viaje es un homenaje a tu espíritu aventurero y a tu corazón lleno de amor, que siempre ha sido mi guía y refugio. ¡Te quiero mucho!"
    ></app-dedicatoria>

    <app-dedicatoria
      color="bg-orange-200"
      nombre="Chester"
      traduccion="
        Desde el día en que me acogiste, me diste algo más valioso que un hogar: me diste tu amor. Cada caricia tuya borró mis miedos, cada juego llenó mis días de alegría, y cada noche a tu lado me enseñó el calor de una familia. En tus ojos encontré la bondad perdida, y en tu voz, la melodía que calmaba mis temores. Eres mi luz, mi guía, mi mayor alegría. Gracias por cada juego, cada abrazo, y cada '¡buen chico!'. Aunque solo respondo con ladridos, espero que cada meneo de cola te hable de mi eterna gratitud y amor.
        Con todo mi amor y eternos ladridos de felicidad de mi corazón perruno. ¡Te quiero! 🐾"
    ></app-dedicatoria>
  </div>
</main>

<app-footer class="fixed bottom-0 w-full"></app-footer>
