<header class="bg-black text-white">
    <ul class="flex gap-3 justify-center flex-wrap">
        <li routerLink="/home" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Home</li>
        <li routerLink="/paises" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Países</li>
        <li routerLink="/municipios" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Municipios</li>
        <li routerLink="/la-experiencia" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">La Experiencia</li>
        <li routerLink="/dedicatorias" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Dedicatorias</li>
    </ul>
</header>