<app-header class="sticky w-full"></app-header>

<div id="hogwarts" class="min-h-screen pb-6">
  <h1 class="text-white font-serif text-xl text-center p-2">
    Disfruta de una maravillosa experiencia a tu elección
  </h1>
  <app-card
    imagen="assets/masaje.png"
    titulo="Masaje relajante profesional y spa"
    descripcion="
    Un masaje relajante profesional en un spa es una experiencia de rejuvenecimiento y serenidad que combina técnicas expertas con un ambiente de tranquilidad absoluta. Al entrar en el spa, te envuelve una atmósfera de paz, con suaves melodías y aromas delicados que preparan tus sentidos para una experiencia de relajación profunda. Los terapeutas, altamente capacitados, utilizan una variedad de técnicas suaves y fluidas, como amasamientos y movimientos largos, que alivian la tensión muscular y promueven un estado de calma mental."
  ></app-card>
  <app-card
    imagen="assets/escape-room.png"
    titulo="Escape room a tu elección"
    descripcion="Un Escape Room es una experiencia de juego inmersiva y emocionante donde los participantes son encerrados en una habitación temática y deben usar su ingenio, habilidades de resolución de problemas y trabajo en equipo para descifrar una serie de acertijos y enigmas. Cada habitación está meticulosamente diseñada para sumergir a los jugadores en un escenario único, que puede variar desde misterios de detectives y aventuras históricas hasta escenarios de ciencia ficción y terror."
    [reversed]="true"
  ></app-card>
  <app-card
    imagen="assets/comida.png"
    titulo="Cena en un restaurante exótico"
    descripcion="Imagínate sumergiéndote en una experiencia culinaria única, donde cada bocado te transporta a un rincón distinto del mundo. Una cena exótica es precisamente eso: un viaje sensorial que despierta tus sentidos con sabores inusuales y aromas embriagadores. Al entrar al restaurante, te envuelve una atmósfera mágica, adornada con decoraciones que evocan tierras lejanas y misteriosas. La luz tenue y la música suave crean un ambiente íntimo y acogedor, ideal para degustar platos que desafían tu paladar."
  ></app-card>
  <app-card
    imagen="assets/esquiar.png"
    titulo="Un día en la nieve"
    descripcion="Imagínate deslizándote por pendientes cubiertas de nieve fresca, donde cada giro en esquís o en snowboard te lleva a un mundo de emociones intensas y paisajes de ensueño. La experiencia de esquiar y hacer snowboard es una fusión perfecta de adrenalina y serenidad, donde la velocidad se encuentra con la tranquilidad de las montañas nevadas. Sientes el frío en tu rostro mientras te deslizas, cortando la nieve blanca y pura, con el cielo azul claro y el sol brillante como telón de fondo."
    [reversed]="true"
  ></app-card>
</div>

<app-footer class="fixed bottom-0 w-full"></app-footer>
