<app-londres-header class="sticky w-full"></app-londres-header>

<main class="flex justify-center items-center min-h-screen flex-col gap-2 px-2">
  <h1
    class="p-3 rounded-md text-center text-white relative max-w-1/2 lg:text-4xl md:text-2xl sm:text-lg text-base"
  >
    ¡Enhorabuena, has ganado un viaje a Londres!
  </h1>
  <h1 class="text-white p-1 rounded-md max-w-1/2 text-xs">Sumérgete en el Londres de Harry Potter, y vive una aventura llena de magia</h1>
</main>

<app-footer class="fixed bottom-0 w-full"></app-footer>