<app-londres-header class="sticky w-full"></app-londres-header>

<div class="grid grid-cols-2 sm:grid-cols-3 gap-2" id="places">
  <section>
    <h3 class="bg-orange-300 text-white">Big Ben</h3>
    <img src="assets/big-ben.png" alt="Big Ben" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Buckingham Palace</h3>
    <img src="assets/buckingham.png" alt="Buckingham Palace" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Picadilly Circus</h3>
    <img src="assets/picadilly-circus.png" alt="Picadilly Circus" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Puente de Londres</h3>
    <img src="assets/puente.png" alt="Puente de Londres" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Trafalgar Square</h3>
    <img src="assets/trafalgar.png" alt="Trafalgar Square" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Parlamento Británico</h3>
    <img src="assets/parlamento.jpg" alt="Parlamento Británico" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Abadía de Westmister</h3>
    <img src="assets/abadia.png" alt="Abadía de Westmister" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Greenwich</h3>
    <img src="assets/greenwich.png" alt="Greenwich" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Hyde Park</h3>
    <img src="assets/hyde-park.png" alt="Hyde Park" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">London Eye</h3>
    <img src="assets/london-eye.png" alt="London Eye" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Museo de Londres</h3>
    <img src="assets/museum.png" alt="Museo de Londres" />
  </section>
  <section>
    <h3 class="bg-orange-300 text-white">Nottin Hill</h3>
    <img src="assets/nottin-hill.png" alt="Nottin Hill" />
  </section>
</div>

<app-footer class="fixed bottom-0 w-full"></app-footer>