<div>
  <div
    class="flex justify-center items-center relative cursor-pointer"
    style="height: 96vh; max-width: 96%;"
    (click)="transicionar()"
    [ngClass]="{
      'animate-ping': clicado == true,
      'animate-shake': clicado == false
    }"
  >
    <img
      src="assets/regalo.png"
      alt="Regalo Misterioso"
      class="bg-none w-1/2 relative"
      style="max-height: 96vh"
    />
    <h3
      class="lg:text-4xl font-serif rounded-md p-2 text-white md:text-2xl sm:text-base text-sm absolute"
    >
      Ábreme
    </h3>
  </div>
</div>