<app-londres-header class="sticky w-full"></app-londres-header>

<div id="hogwarts" class="min-h-screen pb-6">
  <h1 class="text-white font-serif text-xl text-center p-2">
    Vive una mágica experiencia por todos los entresijos de Hogwarts
  </h1>
  <app-card
    imagen="assets/tren.png"
    titulo="Súbete al tren camino a Hogwarts"
    descripcion="
    ¡Bienvenidos al mágico Tren de Hogwarts, una maravilla que desafía la realidad! Al subir a bordo, serás transportado a un mundo donde la magia cobra vida, con vagones que susurran historias de valientes magos y misteriosas criaturas. Siente el suave balanceo del tren mientras atraviesa paisajes encantados, bajo cielos pintados con hechizos y estrellas. En cada compartimento, un nuevo secreto aguarda, envuelto en el aroma de dulces de caramelo y el sonido de risas juveniles. ¡Prepárate para una aventura inolvidable, donde cada destino es un capítulo de la eterna saga de Hogwarts!"
  ></app-card>
  <app-card
    imagen="assets/castillo.jpg"
    titulo="Vislumbra el castillo y su grandiosidad"
    descripcion="¡Adéntrate en el majestuoso Castillo de Hogwarts, un emblema de maravillas y misterios ancestrales! Sus torres se elevan hacia el cielo, tocando las nubes, mientras que sus pasillos susurran historias de magia y valentía. Cada piedra y cada estandarte son testigos de milenarias batallas y amistades legendarias. En sus aulas, la magia cobra vida, y los fantasmas amistosos narran cuentos de épocas pasadas. Explora sus secretos ocultos y déjate envolver por la magia que impregna cada rincón de este legendario hogar de hechiceros. ¡Hogwarts no es solo un castillo, sino un viaje a través de la historia de la magia!"
    [reversed]="true"
  ></app-card>
  <app-card
    imagen="assets/puertas.png"
    titulo="Adéntrate en el castillo"
    descripcion="¡Adelante, valientes viajeros, ante las legendarias Puertas de Hogwarts! Estas majestuosas guardianas de madera y hierro, adornadas con hechizos centenarios, se abren para revelar un reino de maravillas y sabiduría. Al cruzarlas, sentirás la magia ancestral vibrando en el aire, invitándote a un mundo donde lo imposible se vuelve cotidiano. Cada bisagra y cada tallado cuentan historias de alquimia, heroísmo y misterios ocultos, custodiando el umbral donde comienzan los sueños de todo mago y bruja. ¡Pasa y sé parte de la magia que ha cautivado corazones a través de los tiempos!"
  ></app-card>
  <app-card
    imagen="assets/comedor.png"
    titulo="Descubre el gran comedor"
    descripcion="Adéntrate en el Gran Comedor de Hogwarts, un espectáculo de ensueño donde la magia flota en el aire como polvo de estrellas. Aquí, las velas flotantes iluminan mesas interminables, preparadas para festines que deleitan tanto a magos como a muggles. Los techos encantados reflejan el cielo exterior, creando un ambiente donde el tiempo parece detenerse. En este lugar de unión y celebración, cada banquete es un despliegue de maravillas culinarias y camaradería, resonando con risas y el chisporroteo de la magia. ¡El Gran Comedor no es solo un lugar para comer, sino un portal a la verdadera esencia de Hogwarts!"
    [reversed]="true"
  ></app-card>
  <app-card
    imagen="assets/hogsmade.png"
    titulo="Visita Hogsmade y vive la magia"
    descripcion="¡Visita el encantador pueblo de Hogsmeade, el único asentamiento en Gran Bretaña habitado exclusivamente por seres mágicos! Pasea por sus calles empedradas, donde cada rincón rebosa de hechizos y encantamientos. Descubre tiendas centenarias como Honeydukes, con sus dulces embrujados, o la acogedora Tres Escobas, donde una cálida cerveza de mantequilla te espera. Siente la magia en el aire, escucha las risas y los secretos de los jóvenes magos y brujas, y déjate llevar por el espíritu inigualable de Hogsmeade, un lugar donde la fantasía se convierte en realidad."
  ></app-card>
  <app-card
    imagen="assets/cerveza.png"
    titulo="Repón fuerzas con cerveza de mantequilla"
    descripcion="¡Descubre el encanto burbujeante de la famosa Cerveza de Mantequilla de Hogwarts! Una poción dorada, servida fría o caliente, que acaricia el paladar con su exquisita mezcla de sabores dulces y reconfortantes, evocando recuerdos de hogares mágicos y cálidas chimeneas. Cada sorbo es una aventura, un viaje a través de un mundo donde la magia y el deleite se fusionan en una espuma suave y cremosa. ¡Levanta tu jarra y brinda por las maravillas de un mundo donde lo imposible se vuelve cotidiano!"
    [reversed]="true"
  ></app-card>
</div>

<app-footer class="fixed bottom-0 w-full"></app-footer>