<app-header class="sticky w-full"></app-header>

<div class="grid grid-cols-2 sm:grid-cols-3 gap-2 justify-center" id="municipios">
  <app-site
    titulo="Galicia"
    bandera="assets/municipios/banderas/bandera-galicia.png"
    imagen="assets/municipios/galicia.png"
    class="flex flex-col"
  ></app-site>
  
  <app-site
    titulo="Valencia"
    bandera="assets/municipios/banderas/bandera-valencia.png"
    imagen="assets/municipios/valencia.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Cádiz"
    bandera="assets/municipios/banderas/bandera-cadiz.png"
    imagen="assets/municipios/cadiz.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Granada"
    bandera="assets/municipios/banderas/bandera-granada.png"
    imagen="assets/municipios/granada.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Madrid"
    bandera="assets/municipios/banderas/bandera-madrid.png"
    imagen="assets/municipios/madrid.png"
    class="flex flex-col"
  ></app-site>

  <app-site
    titulo="Asturias"
    bandera="assets/municipios/banderas/bandera-asturias.png"
    imagen="assets/municipios/asturias.png"
    class="flex flex-col"
  ></app-site>

<app-footer class="fixed bottom-0 w-full"></app-footer>
